@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #001b51;
  --color-primary-hover: #00143d;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
